{% extends 'atm/base.html' %}
<html>
  <head>
    <title></title>
  </head>
  <body>
{% block body %}
<h1 style="margin-bottom: 1em;">Transfer</h1>

<div class = "container">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br><br>
	<div class="row">
	<div class="col">
    <button class="btn btn-success" style="padding: 1.5em; border-color: black;" type="submit" name="button"> Submit </button>
  </form
  <form action="bankaccount" method='GET'>
      <button type="submit" name="button"class="btn btn-danger" style="padding: 1.5em; border-color: black;">cancel</button>
      </form>
	  </div>
	  </div>
</div>
{% endblock %}
</body>
</html>
